/* Main Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {

    font-size: 16px;
    font-family: "Nunito", sans-serif;
}

.Primary-color {
    color: #33e2a0;
}

/* Common Code */

.Horizontal-aling-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Place-item-center {
    display: grid;
    place-items: center;
}

.dblock {
    display: block;
}


/* Header Section Start */

header {
    background-color: #383848;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;

}

.Header-content {
    height: 80%;
    width: 85%;
    margin: auto;
}


.flex-1 {
    flex: 1;
}

.Menu {

    flex: 1.9;

}

.Main-menu {
    justify-content: flex-start;
    list-style: none;
}

.Main-menu li {
    padding: 0 15px;
    font-size: 16px;
    letter-spacing: 1px;


}

.Main-menu li a {
    text-decoration: none;
    color: #ffff;
    font-size: 16px;

}

.Main-menu li a:hover {
    color: #6d46fa;
}


.rightdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    color: white;
    min-width: 80px
}

/* Header Section End */

/* Slider Section-1 Start */

.Sl_section-1 {
    width: 100%;
    height: 100vh;
    background-image: url(../Image/Background-Image-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Sect-1_container {
    height: 30%;
    max-width: 800px;
    position: absolute;
    left: 12%;
    display: flex;
    align-items: center;
}

.Sect-1_content-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Sect-1_content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;

}

.Sect-1_content h1 {
    font-size: 50px;

}



.Sect-1_subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Sect-1_ation {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Sect-1_action-button {
    padding: 8px 9px;
    border-radius: 5px;
    background-color: #D3AD7F;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border-collapse: 82px;
}

/* Slider Section-1 End */

/* Slider Section-2 Start */

.Sl_section-2 {
    height: 650px;
    width: 100%;
    background-color: #383848;
}

.Sect-2_container {
    height: 100%;
    width: 1540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Sect-2_title_container {
    height: 135px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sect-2_titel {
    font-size: 35px;
}

.Sect-2_title-content-1 {
    color: #ccb49c;
}

.Sect-2_title-content-2 {
    color: #ffff;
}

.Sect-2_content-container {
    height: 515px;
    width: 1540%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Sect-2_content {
    background-color: #434474;
    height: 502px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.Content-2_headline {
    font-size: 30px;
    color: #ffff;
}

.Content-2_paragraph {
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
    color: #cccbcbbd;
}

.Sect-2_action {
    margin-top: 25px;
}

.Sect-2_action-button {
    padding: 5px 6px;
    border-radius: 5px;
    background-color: #D3AD7F;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border-collapse: 82px;
}

/* Slider Section-2 end */

/* Slider Section-3 Start */

.Sl_section-3 {
    height: 760px;
    width: 100%;
    background-color: #383848;
}

.Sect-3_container {
    height: 95%;
    width: 1540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Sect-3_taitel_container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sect-3_titel {
    height: 90px;
    width: 1540ox;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.Sect-3_title_content-1 {
    color: #ffff;
}

.Sect-3_title-content-2 {
    color: #ccb49c;
}

.Sect-3_content_container {
    height: 91%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    flex-wrap: wrap;
    align-content: space-around;
    column-count: inherit;
    justify-content: space-between;
}

.Sect-3_menu_container {
    height: 315px;
    width: 295px;
    border: rgb(194, 192, 192) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sect-3_menu_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
}

.Menu_title {
    font-size: 17px;
    color: #ffff;
    margin-top: 15px;
}

.Product_blance {
    font-size: 17px;
    color: #ffff;
    line-height: 40px;
    width: 81px;
    display: flex;
    justify-content: space-between;

}

.Product_blance small {
    font-size: 10px;
}

.Sect-3_action {
    margin-top: 13px;
    margin-bottom: 13px;
}

.Sect-3_action-button {
    padding: 5px 6px;
    border-radius: 5px;
    background-color: #D3AD7F;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border-collapse: 82px;
}

/* Slider Section-3 End */

/* Slider Section-4 Start */

.Sl_section-4 {
    height: 590px;
    width: 100%;
    background-color: #383848;
}

.Sect-4_container {
    height: 95%;
    width: 1540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.Sect-4_title_container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sect-4_titel {
    height: 90px;
    width: 1540ox;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.Sect-4_title_content-1 {
    color: #ffff;
}

.Sect-4_title-content-2 {
    color: #ccb49c;
}

.Sect-4_content_Container {
    height: 91%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    flex-wrap: wrap;
    align-content: space-around;
    column-count: inherit;
    justify-content: space-between;
}

.Sect-4_product_container {
    height: 475px;
    width: 500px;
    border: rgb(194, 192, 192) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sect-4_product_content {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    height: 90%;
}

.Sect-4_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    color: white;
    min-width: 150px;
    height: 43px;
}

.Sect-4_icon_content {
    height: 100%;
    width: 45px;
    border: rgb(151, 151, 151) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sect-4_product_img {
    height: 238px;
    width: 150px;
    margin-top: 15px;
}

.Sect-4_product_name {
    font-size: 25px;
    color: #ffff;

}

.Sect-4_product_rating{
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ccb49c;
}

.Sect-4_product_balance {
    font-size: 17px;
    color: #ffff;
    width: 81px;
    display: flex;
    justify-content: space-between;
}