* {
    margin: 0;
    padding: 0;

}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #777777;
    line-height: 1.9em;
    font-weight: 400;
    overflow-x: hidden;
    margin: auto;
    background: #fff;
}

/* Common Code Start */

h6 {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

p {
    line-height: 26px;
    margin-bottom: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Auto-position {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

a {
    color: #ffc300;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

/* Common Code End */

/* Header Section Start */

.Top-section {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.Top_sect_content {
    display: flex;
    flex-wrap: wrap;
}

.Top_sect_menu_container {
    min-width: 66.66%;
}

.Top_sect_menu {
    float: left;
}

.Top_sect_menu li {
    display: inline-block;
}

.Top_sect_menu li a {
    display: block;
    margin-right: 10px;
    line-height: 60px;
}

.Top_sect_menu a {
    color: #282828;
}

.Top_sect_menu li i {
    color: #ffc300;
    font-size: 20px;
    margin-right: 5px;
}

.Top_sect_icon_container {
    min-width: 33.33%;
}

.Top_sect_icon {
    float: right;
}

.Top_sect_icon li:first-child {
    border-left: 1px solid #E1E1E1;
}

.Top_sect_icon li {
    border-right: 1px solid #E1E1E1;
    float: left;
}

.Top_sect_icon li:hover {
    border-color: #ffc300;
}

.Top_sect_icon a {
    color: #282828;
}

.Top_sect_icon li a {
    display: block;
}

.Top_sect_icon li a:hover {
    color: #fff;
    background-color: #ffc300;
}

.Top_sect_icon li a i {
    font-size: 20px;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: block;
    transition: all 0.4s ease 0s;
}

.Header_section-2 {
    position: relative;
    padding: 35px 0px;
}


.Sect-2_container {
    display: flex;
    flex-wrap: wrap;
}

.Sect-2_logo_container {
    flex: 25%;
    max-width: 25%;
}
.logo-1 {
    max-width: 100%;
    height: auto;
}

.Sect-2_info {
    flex: 75%;
    max-width: 75%;
}

.Sect-2_info-container {
    position: relative;
    float: left;
    margin-left: 66px;
    padding: 4px 20px 0 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.Sect-2_info-icon {
    position: absolute;
    left: 0;
    top: 6px;
    width: 57px;
    height: 36px;
    padding-left: 8px;
    border-right: 2px solid #ddd;
    color: #ffc300;
    font-size: 34px;
    text-align: left;
    line-height: 37px;
}


.Sect-2_info-container h6 {
    margin: 0 0 5px;
    font-weight: 700;
    text-transform: capitalize;
}

.Sect-2_info-container p {
    color: #282828;
}
